<%- include("header") -%>

<div class="container">
    <div class="todo-app">
        <h2>To-Do List <img src="icon.png"></h2>
        <form class="row" method="post" action="/">
            <input type="text" id="input-box" placeholder="Add you task" name="task">
            <button type="submit" id="submit-todo">+</button>
        </form>
        <ul id="task-container">
            
        </ul>
    </div>
</div>